* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.show-box {
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
}
.show-box .left-nav {
  box-sizing: border-box;
}
.show-box .left-nav .img-box {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.show-box .left-nav .img-box .yellowline {
  width: 50px;
  height: 1px;
  background: #fbe02d;
  position: absolute;
  bottom: 0;
  left: 25px;
}
.show-box .right-content {
  float: left;
}
.show-box .right-content li {
  overflow: hidden;
  margin-bottom: 1rem;
}
.show-box .right-content .list {
  display: none;
}
.show-box .right-content .list .imgBox {
  float: left;
}
.show-box .right-content .list .right-box {
  float: left;
}
@media screen and (min-width: 1200px) {
  .show-box {
    border: 1px solid #b9b9b9;
    width: 1200px;
    overflow: hidden;
  }
  .show-box .left-nav {
    width: 20%;
    float: left;
  }
  .show-box .left-nav .img-box {
    padding: 30px 30px 10px 25px;
    border-right: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
  }
  .show-box .left-nav .img-box:nth-child(2) {
    border-right: 0;
  }
  .show-box .right-content {
    width: 80%;
  }
  .show-box .right-content .list {
    padding: 60px 0 0 60px;
  }
  .show-box .right-content .list .imgBox {
    width: 349px;
    height: 259px;
  }
  .show-box .right-content .list .right-box {
    width: 480px;
    margin-left: 30px;
  }
  .show-box .right-content .list .right-box h4 {
    font-size: 30px;
    color: #17aeb7;
  }
  .show-box .right-content .list .right-box > p,
  .show-box .right-content .list .right-box > span {
    font-size: 12px;
    color: #555555;
    line-height: 20px;
    margin-top: 20px;
  }
  .show-box .right-content .list .right-box span {
    color: #aeacac;
  }
  .show-box .right-content .list .right-box .more {
    margin-top: 25px;
  }
  .show-box .right-content .list .right-box .more a {
    height: 2rem;
  }
  .more a {
    display: inline-block;
    width: 150px;
    margin-right: 25px;
  }
  .more a .showmore {
    height: 100%;
  }
  .more a .showmore .text {
    display: inline-block;
    width: 80%;
    color: #fff!important;
    background: #FFE32A;
    height: 100%;
    text-align: center;
    line-height: 2rem;
    font-family: "微软雅黑", arial;
  }
  .more a .showmore .add {
    float: right;
    width: 20%;
    height: 100%;
    position: relative;
    background: #2AABEE;
  }
  .more a .showmore .add span {
    display: inline-table;
    width: 50%;
    height: .2rem;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .more a .showmore .add span:nth-child(2) {
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 768px) {
  .img-box {
    width: 45%;
    border-top: 1px solid #b9b9b9;
    border-left:1px solid #b9b9b9;
    box-sizing: border-box;
  }
  .img-box img {
    width: 100%;
  }
  .img-box:nth-child(2) {
    border-left: 1px solid #b9b9b9;
  }
  .show-box {
    padding: 10px;
    box-sizing: border-box;
  }
  .show-box .left-nav {
    overflow: hidden;
  }
  .show-box .left-nav .img-box {
    width: 50%;
    float: left;
    padding: 10px 20px;
  }
  .show-box .left-nav .img-box:nth-child(1) {
    display: none;
  }
  .show-box .right-content .list {
    padding-top: 30px;
  }
  .show-box .right-content .list .imgBox {
    width: 40%;
  }
  .show-box .right-content .list .imgBox img {
    width: 100%;
  }
  .show-box .right-content .list .right-box {
    width: 55%;
    margin-left: 3%;
  }
  .show-box .right-content .list .right-box h4 {
    font-size: 0.8rem;
  }
  .show-box .right-content .list .right-box > p,
  .show-box .right-content .list .right-box > span {
    font-size: 12px;
    color: #555555;
    line-height: 1rem;
    height: 3rem;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
  }
  .show-box .right-content .list .right-box > span {
    color: #aeacac;
    display: none;
  }
  .show-box .right-content .list .right-box .more {
    margin-top: 0.7rem;
  }
  .show-box .right-content .list .right-box .more a {
    height: 1rem;
  }
  .more a {
    display: inline-block;
    float: left;
    width: 47%;
    margin-right: 3%;
  }
  .more a:nth-child(2){
    margin-right: 0;
  }
  .more a .showmore {
    height: 100%;
  }
  .more a .showmore .text {
    display: inline-block;
    width: 80%;
    color: #fff!important;
    background: #FFE32A;
    height: 100%;
    text-align: center;
    font-family: "微软雅黑", arial;
    font-size: 0.1rem;
    float: left;
    line-height: 1rem;
  }
  .more a .showmore .add {
    float: right;
    width: 20%;
    height: 100%;
    position: relative;
    background: #2AABEE;
  }
  .more a .showmore .add span {
    display: inline-table;
    width: 50%;
    height: .1rem;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .more a .showmore .add span:nth-child(2) {
    transform: rotate(90deg);
  }
}
